[submodule "champ"]
	path = champ
	url = https://github.com/AndrewZheng-1011/champ.git
[submodule "champ_teleop"]
	path = champ_teleop
	url = https://github.com/chvmp/champ_teleop
[submodule "champ_setup_assistant"]
	path = champ_setup_assistant
	url = https://github.com/chvmp/champ_setup_assistant.git
[submodule "robot_state_plugin"]
	path = robot_state_plugin
	url = https://github.com/chvmp/robot_state_plugin.git
[submodule "robots/descriptions/unitree_ros"]
	path = robots/descriptions/unitree_ros
	url = https://github.com/chvmp/unitree_ros
